.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftcontainer {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
.title {
    align-self: center; /* Align the title at the top */
    text-align: center;
}
  
.text {
    text-align: center; /* Center text horizontally */
}

.rightcontainer
{
    flex: 1;
    padding: 1rem;
}

.spacing1
{
    margin: 7rem;
}

.spacing2
{
    margin: 1rem;
}

.spacing3
{
    margin: 8rem;
}