@font-face {
	font-family: 'Righteous';
	src: url('/fonts/Inter/Righteous-Regular.ttf') format('ttf');
}

.container {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.container h1 {
	text-align: center;
	font-family:
		Righteous,
		Inter;
}

.buttonList {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.buttonGrid {
	width: 160px;
	height: 310px;
	padding: 1px;
	align-items: center;
}

.buttonContainer {
	width: 150px;
	height: 200px;
	border-radius: 20px;
	text-align: center;
	background:#ECF0F5;
	color: #042C50;
	transition:
		color 0.15s ease;

}

.buttonContainer:hover,
.buttonContainer:focus,
.buttonContainer:active {
	background:#042C50;
	color: #fff;
}

.buttonContainer img {
	width: 150px;
}

.buttonContainer img:hover {
	filter: brightness(0) invert(1);
}

.buttomDescription {
	text-align: left;
	padding: 3px;
	color: #303030;
	font-size: 0.7rem;

}

@media (max-width: 600px) {
	.buttonList {
	  width: 100%;
	  flex-direction: column;
	}
  }

