.footer {
	background-color: #ECF0F5;
	color: #51565E;
	padding: 1rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100px;
}

