.container {
	display: flex;
	flex-direction: column;
	padding: 5px;
	min-height: 80vh;
}

.container main{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px;

}

.grid{
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.card{
	flex-basis: 300px;
	display: flex;
	justify-content: top;
	flex-direction: column;
}

.card p {
	color: #404040;
}

.card span{
	font-weight: bold;
}

.card button {
	padding: 10px;
	background-color: #FA9C07;
	border-radius: 4px;
	margin: 6px;
	cursor: default;
	text-align: center;
}

.container h1 {
	text-align: center;
	margin-bottom: 0;
}

@media (max-width: 600px) {
	.grid {
		flex-direction: column;
	}
}

@media (max-width: 360px) {
	.card p {
		font-size: 0.8rem;
	}
}
