@font-face {
	font-family: 'Righteous';
	src: url('/fonts/Inter/Righteous-Regular.ttf') format('ttf');
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	min-height: 70vh;
}

.container main{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px;
	min-height: 70vh;
}

.grid{
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.card{
	flex-basis: 300px;
	display: flex;
	justify-content: top;
	flex-direction: column;
}

.card p {
	color: #404040;
}

.card span{
	font-weight: bold;
}

.card button {
	padding: 10px;
	background-color: #FA9C07;
	border-radius: 4px;
	margin: 6px;
	cursor: default;
	text-align: center;
}

.container h1 {
	text-align: center;
	font-family:
		Righteous,
		Inter;
	margin-bottom: 0;
}

@media (max-width: 600px) {
	.grid {
		width: 80%;
		flex-direction: column;
	}
}
